<footer id="footer-wrapper">
    <div id="footer-container" class="fluid-container">
        <div id="copyright">
            <span class="small">Copyright &copy; 2018 MWAVE Recycling, LLC.</span>
        </div>
        <svg id="fred" viewBox="0 0 60 60">
            <polyline class="mwave-fill-orange" points="60,0 0,60 60,60"/>
            <polyline class="mwave-fill-green" points="60,20 20,60 60,60"/>
            <polyline class="mwave-fill-blue" points="60,40 40,60 60,60"/>
        </svg>
    </div>
</footer>
