<div id="about-container" class="container">
    <div class="row">
        <div class="col-12 col-md-6 order-1 order-md-2">
            <h3 class="mwave-title">Our Story</h3>
            <hr>
            <p>
                Years ago, we started with one simple question:<br>
                Why does everything that is better for society have to cost more?
                <br><br>
                We produce almost a million tons of garbage everyday, but the efforts to reduce that are few and far between. Worse still, is the majority of that trash gets buried or burned, compounding the negative effect on our environment. After evaluating the failures and shortcomings of the technologies used in waste processing today, we knew there had to be a better way. Our goal is to open up the prospect of recycling to all of our refuse, and to make the overall recycling process more efficient. But how do we achieve such a lofty goal?
                <br><br>
                From the beginning, we needed to bring in fresh talent and skills that could work effectively together. By sourcing from local universities and high schools in the Columbus area, we've been able to foster an effective learning and working environment made up of eager and engaged academics. Utilizing this collective pool of knowledge has been invaluable to our progress, but it also educates and prepares the next generation to take human progress and environmental issues into their own hands.
                <br><br>
                Environmental problems aren't just issues about the planet and going green, but they're about being human and developing society. MWAVE Recycling is a business, but moreover it is an ever-evolving technological concept to solve environmental and human problems.
                <br>
            </p>
        </div>
        <div class="col-12 col-md-6 order-2 order-md-1">
            <dl id="job-list">
                <div class="text-feature"></div>
                <dt>Philip Gervais</dt>
                <dd><ul>
                    <li>Founder</li>
                    <li>Chief Executive Officer</li>
                </ul></dd>

                <div class="text-feature"></div>
                <dt>Adrian Petrescu</dt>
                <dd><ul>
                    <li>Chief Operations Officer</li>
                </ul></dd>

                <br>

                <div class="text-feature"></div>
                <dt>Scott Fasone</dt>
                <dd><ul>
                    <li>Industrial Controls and Software Engineering</li>
                </ul></dd>

                <div class="text-feature"></div>
                <dt>Connor Guarino</dt>
                <dd><ul>
                    <li>Industrial Design</li>
                    <li>Public Relations</li>
                </ul></dd>

                <div class="text-feature"></div>
                <dt>Mihai Petrescu</dt>
                <dd><ul>
                    <li>Industrial Controls and Software Engineering</li>
                </ul></dd>

                <div class="text-feature"></div>
                <dt>Nolan Rosen</dt>
                <dd><ul>
                    <li>Industrial Controls and Software Engineering</li>
                </ul></dd>
            </dl>
        </div>
    </div>
</div>
